.shortCardListContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    color: #00000073;
}

.contentData {
    font-weight: 500;
}

.filterControls {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    justify-content: space-between;
}

.picker {
    width: 100%;
}

.listContainer {
    flex-grow: 1;
    max-height: 100%;
    height: 200px;
    overflow: auto;
    padding: 0 1em;
}

.listItem:global(.ant-list-item) {
    padding: 1em;
}

.moreRequestSpin {
    display: flex;
    justify-content: center;
}

.taskCard :global(.ant-card-actions) {
    padding: 0 1em;
}

.actionSuccess {
    width: 100%;
}
