.centeredData {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContend {
    min-height: 100%;
}

.cardActions {
    display: flex;
    gap: 1em;
}

.content {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5em;
}
