.content {
    background-color: var(--bg-content);
    padding: 16rem 50px 0 50px;
    /* header height */
    height: calc(100vh - 64px);
}

@media (max-width: 425px) {
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}
