.header:global(.ant-layout-header) {
    background-color: var(--bg-header);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    z-index: 1;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    max-width: 320px;
}

.menuActions {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18rem;
    color: white;
}

.menuActions:hover {
    cursor: pointer;
}

@media (max-width: 425px) {
    .header:global(.ant-layout-header) {
        text-align: center;
        padding: 0 var(--padding-content-sm);
    }

    .menuActions .username {
        display: none;
    }
}
